@import url('https://fonts.googleapis.com/css?family=Athiti|Itim');
#container{
    margin: 0 auto; /*กำหนดตัวแหน่ง*/
    width: 1000;
    height: 1000px;
    border: 2px solid AliceBlue;
    
    
}
header{ /*หัว*/
   padding-top: 15px; /*เพิ่มพื้นที่*/
   height: 30px;
   border: 0px solid white;
   color: white;
   
  
}
.thitaya{ /*หัว2*/
    height: 150px;
    border: 1px solid   #3399FF;
    color: white;
    background-image: url("m.jpg")
    
}

h1{
    margin: 18px;
    text-shadow: 2px 3px 	DarkGoldenrod; /*สีซ้อน*/
    font-family: 'Athiti', sans-serif;
    
   
   
}
.left{ /*พื้นที่ฝั่งซ้าย section*/
    margin-top: 150px;
    margin-left: 41px; /*พื้นที่*/
    width: 490px;
    height: 774px;
    float: left;
}
.right{ /*พื้นที่ฝั่งขวา section*/
    margin-top: 144px;
    margin-left: 50px;
    width: 419px;
    height: 786px;
    background:AliceBlue;
    float: left;


}
footer{ /*ด้านล่าง*/
  
    float: left;
    background:#1d3057
   
}

p {
    margin : 20px;
    font-family: 'Athiti', sans-serif;
    text-align: center;
    
   
}
.cir{
    border-radius: 50% ; /*รูปวงกลม*/
}
.height-50{
    height: 90px;
}
.height-40{
    height: 40px;
}
.widht-1000{
    width: 1000;

}
.bg-blue{
    background:	#006699;
}
.clear-both {
    clear: both;
  }
 .p{
     font-size: 12px;
 }
 .p-size-color{
     font-size: 18px; 
     text-shadow: 1px 3px 3px  #0033FF;
     color: #6699FF;
     
 }
 .font-colorwhite{
     color: white;
 }
 .p-size{
     font-size: 20px;
 }
 .p-underline{
    text-decoration:underline; 

 }
 .p-font{
    font-family: 'Itim', cursive;
 }


